.button-reset {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    font: inherit;
    line-height: 1;
    padding: 0;
    text-shadow: none;
    text-align: left;
    text-decoration: none;
}

.screenreader-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    padding: 0;
    width: 1px;
}
