.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-control:not([aria-controls]) {
    display: none;
}

.dropdown-control {
    position: relative;
    display: flex;
    align-items: center;

    background: hsl(0, 0%, 93%);
    border: 1px solid hsl(0, 0%, 62%);
    border-bottom-width: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: .5rem .75rem;
}

.dropdown-control[aria-expanded="false"] {
    border-radius: 4px;
    border-bottom-width: 1px;
}

.dropdown-control[aria-expanded="true"] {
    z-index: 99;
}

.dropdown-control-caret {
    display: block;
    border: solid hsl(0, 0%, 66%);
    border-width: 0 2px 2px 0;
    height: .33rem;
    margin-left: .5rem;
    pointer-events: none;
    transform: translateY(-20%) rotate(45deg);
    width: .33rem;
}

.dropdown-control[aria-expanded="true"] .dropdown-control-caret {
    transform: translateY(20%) rotate(-135deg);
}

.dropdown-target {
    border: 1px solid hsl(0, 0%, 62%);
    border-radius: 4px;
    box-shadow: 1px 1px 2px hsl(0, 0%, 82%);
    display: block;
    background: #eee;
    padding: .5rem .75rem;
}

.dropdown-target[aria-hidden="true"] {
    display: none;
}

.dropdown-target[aria-hidden="false"] {
    border-top-left-radius: 0;
    min-width: 100%;
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 98;
}

.dropdown-target ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-target li:not(:last-child) {
    margin-bottom: .25rem;
}
